<div 
  class="modal-overlay" 
  [class.modal-open]="isOpen"
  (click)="onBackdropClick($event)"
  *ngIf="isOpen"
>
  <div 
    class="modal-container"
    [class]="'modal-' + size"
    role="dialog"
    [attr.aria-modal]="true"
    [attr.aria-labelledby]="title ? 'modal-title' : null"
  >
    <!-- Modal Header -->
    <div class="modal-header" *ngIf="title || showCloseButton">
      <h2 id="modal-title" class="modal-title" *ngIf="title">{{ title }}</h2>
      <button 
        class="modal-close-btn btn-icon btn-secondary"
        (click)="close()"
        *ngIf="showCloseButton"
        [attr.aria-label]="'Close modal'"
      >
        <ng-icon name="heroXMark" size="24"></ng-icon>
      </button>
    </div>

    <!-- Modal Content -->
    <div class="modal-content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
