<h2>To-Do List</h2>

<!-- Form to add a new task -->
<div class="todo-form">
    <input [(ngModel)]="newTodoTitle" placeholder="Add a new task..." />
    <input [(ngModel)]="newTodoDueDate" type="datetime-local" />
    <button (click)="addTodo()">➕</button>
    <select [(ngModel)]="newTodoPriority">
        <option value="high">High</option>
        <option value="medium">Medium</option>
        <option value="low">Low</option>
    </select>
    <select [(ngModel)]="newTodoCategory">
        <option value="Trabajo">Trabajo</option>
        <option value="Hogar">Hogar</option>
        <option value="Estudios">Estudios</option>
    </select>
</div>

<!-- Filtro para ver tareas por categoría -->
<div class="category-filter">
    <label for="categoryFilter">Filter by Category: </label>
    <select id="categoryFilter" [(ngModel)]="selectedCategory" (change)="filterByCategory()">
        <option value="all">All</option>
        <option value="Trabajo">Trabajo</option>
        <option value="Hogar">Hogar</option>
        <option value="Estudios">Estudios</option>
    </select>
</div>

<!-- List of tasks -->
<ul>
    <li *ngFor="let todo of todos" class="card" [class.due-soon]="isDueSoon(todo)" [class.overdue]="isOverdue(todo)">
        <ng-container *ngIf="editingTodoId !== todo.id; else editingTemplate">
            <span class="todo-name" [class.completed]="todo.isComplete" (click)="toggleCompletion(todo.id)">{{todo.title}}</span>
            <span class="todo-due-date">{{ formatDueDate(todo.dueDate) }}</span>
            <div class="buttons-container">
                <button (click)="startEditing(todo.id)">✏️</button>
                <button (click)="deleteTodo(todo.id)">❌</button>
            </div>
        </ng-container>
        <ng-template #editingTemplate>
            <input [(ngModel)]="todo.title" />
            <div class="editing-buttons">
                <button (click)="finishEditing(todo.id, todo.title)">✅</button>
                <button (click)="cancelEditing()">❌</button>
            </div>
        </ng-template>
    </li>
</ul>